body{
  background-color: rgb(242, 250, 255);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.mainTitle{
  text-align: center;
  margin-bottom: 0px; 
  font-size: 40px;
}
hr{
  width: 100px; 
  border: 2px solid blue;
}
.tourMain{
  width: 600px; 
  margin: auto;
  background-color: white;
  border-radius: 5px; 
  margin-bottom: 40px; 
  box-shadow: 1px 1px 1px 1px grey
}

.tourImg{
  width: 100%;
  border-radius: 5px 5px 0 0;
}


.btn{
  color: red;
  width: 200px;
  height: 30px;
  background-color: white;
  border: 1px red solid;
  border-radius: 5px;
} 